.block-container {
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                    margin-bottom: 0 !important;
                    padding-left: 5rem;
                    padding-right: 5rem;
}

h1 {
    font-size: 2rem !important;
}

footer {
        visibility: hidden !important;
}