.block-container {
                    padding-top: 0rem;
                    padding-bottom: 0rem;
                    padding-left: 5rem;
                    padding-right: 5rem;
                }

h1 {
    font-size: 2rem !important;
}

iframe {
    height: 80vh !important;
}