.block-container {
                    padding-top: 5px !important;
                    padding-bottom: 0 !important;
                    margin-bottom: 0 !important;
                    padding-left: 5rem;
                    padding-right: 5rem;
}

h1 {
    font-size: 2rem !important;
}

footer {
        visibility: hidden !important;
}

[data-testid="stSidebar"] {
        width: 250px !important;
    }

iframe {
  min-height: 350px !important;
  max-height: 85vh !important;
}